body, html{
    height: 100%;
    margin: 0;
}
.ColumbusDay1{
    background-image: url('../img/ColumbusDay1.jpg');
    min-height: 100%;
}
.ColumbusNight2{
    background-image: url('../img/ColumbusNight2.jpg');
    min-height: 400px; 
}
.ColumbusRiverNight{
    background-image: url('../img/ColumbusRiverNight.jpg');
    min-height: 400px; 
}