body, html{
    height: 100%;
    margin: 0;
    font-size: 18px;
    font-display: "lato", sans-serif;
    font-weight: 500;
    line-height: 1.9em;
    color: rgb(36, 38, 39);
}

.ColumbusDay1, .ColumbusNight2, .ColumbusRiverNight{
    position: relative;
    opacity: 0.80;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

.ColumbusDay1{
    background-image: url('../img/ColumbusDay1.jpg');
    min-height: 100%;
}
.ColumbusNight2{
    background-image: url('../img/ColumbusNight2.jpg');
    min-height: 400px; 
}
.ColumbusRiverNight{
    background-image: url('../img/ColumbusRiverNight.jpg');
    min-height: 400px; 
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background: color #f4f4f4;
    color: #666
}
.section-dark{
    background-color: black;
    color: #ddd;
}
.ctext{
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 27px;
    text-align: center;
    color: #000;
    letter-spacing:7px;
    text-transform: uppercase;  
}

.ctext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ctext .border.trans{
    background-color: transparent;
}

@media(max-width:568px){
    .ColumbusDay1, .ColumbusNight2, .ColumbusRiverNight{
        background-attachment: scroll;
    }
}